

<div class="box" align="center">

	<% if current_user %>
		<%= link_to "Log Out", logout_path %>
	<% else %>
		<%= link_to "Log In", login_path %>
	<% end %>


	<%= image_tag "logo-banner.jpeg"%>
	<br>
	<div class="dashboard-text">
		<h1 id="dashboard-header">¡Bienvenido al Gestor de Grupos del Tutor Virtual CVA!</h1>
		<p id="dashboard-description">
			Esta plataforma tiene el propósito de integrar los datos de preinscritos, tutores y aliados para consultar los grupos de participantes con sus respectivos tutores y aliados.		
		</p>
	</div>
  
</div>