<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Haus Dashboard</title>
  
  
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

  
</head>

<body>

  
<div id="nav">
  <div class="user-banner"><img src="assets/logo.png"/>
    <h5 class="username">Matthew Reichardt</h5>
  </div>
  <ul>
    <li class="head">General</li>
    <li class="active"><a href="inbox.html"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-user"></i><span>Tenants</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-money"></i><span>Payments</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
  </ul>
</div>
<div id="main">
  <header>
    <ol class="breadcrumb">
      <li> <a href="#">haus</a></li>
      <li class="active">dashboard</li>
    </ol>
  </header>
  <div id="content">
    <h1>Properties</h1>
    <div class="box">
      <div class="body">
        <p>A quick-glance at your performance.</p>
      </div>
    </div>
</div>

  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>


</body>

</html>
