<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Haus Dashboard</title>
  

<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  
</head>

<body>
  
<div id="nav">
  <div class="user-banner"><img src="assets/logo.png"/>
    <h5 class="username">Matthew Reichardt</h5>
  </div>
  <ul>
    <li class="head">General</li>
    <li class="active"><a href="inbox.html"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
    <li><%= link_to 'Preinscritos', preinscritos_url %></li>
    <li><a href="#"><i class="fa fa-fw fa-user-graduate"></i><span>Preinscritos</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-user"></i><span>Tenants</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-money"></i><span>Payments</span></a></li>
    <li><a href="#"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
  </ul>
</div>
<div id="main">
  <header>
    <ol class="breadcrumb">
      <li> <a href="#">haus</a></li>
      <li class="active">dashboard</li>
    </ol>
  </header>
  <div id="content">
    <h1>Properties</h1>
    <div class="box">
      <div class="body">
        
      </div>
    </div>
</div>

  


</body>

</html>
