<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <h1>Editar Supervisor</h1>

      <%= render 'form', supervisor: @supervisor %>

      <%= link_to 'Ver', @supervisor %> |
      <%= link_to 'Atrás', supervisors_path %>
    </div>
  </div>
</div>
