// Variables
@import 'variables';

html, body{
    min-height: 100vh;
}

.bg-primary{
    background: $primary;
}

.bg-primary-dark{
    background: $primary-dark;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container-fluid{
    min-height: 100vh;
    margin: 0;
}

main, .main {
    min-height: calc(100vh - 55px) !important;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';