<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>Editar Preinscrito</h1>

      <%= render 'form', student: @student %>

      <%= link_to 'Ver', @student %> |
      <%= link_to 'Atrás', students_path %>

    </div>
  </div>
</div>
