.container{
       
}
.logo{
    text-align: center;
}
#password,#email{
    border-radius: 10px;
}
.icon-user{
    font-size:25px;
    top:2px;
}
.custom-button{
    background-color: #11ef20;
    border-color: #11ef20;
    color:white;
    font-weight: bold;
}
.custom-button:hover{
    background-color:#10db1d;
    border-color:#10db1d;
}