<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <h1>Editing Tutor</h1>

      <%= render 'form', tutor: @tutor %>

      <%= link_to 'Show', @tutor %> |
      <%= link_to 'Back', tutors_path %>
      
    </div>
  </div>
</div>
