<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>New Supervisor</h1>

      <%= render 'form', supervisor: @supervisor %>

      <%= link_to 'Back', supervisors_path %>
      
    </div>
  </div>
</div>
