<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>Editar Coordinador</h1>

      <%= render 'form', coordinator: @coordinator %>

      <%= link_to 'Ver', @coordinator %> |
      <%= link_to 'Atras', coordinators_path %>

    </div>
  </div>
</div>
