<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >

      <h1>New Group</h1>

      <%= render 'form', group: @group %>

      <%= link_to 'Back', groups_path %>


    </div>
  </div>
</div>
