<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>New Stakeholder</h1>

      <%= render 'form', stakeholder: @stakeholder %>

      <%= link_to 'Back', stakeholders_path %>


      </div>
    </div>
  </div>
