<div class="content-container footer-container">
  <div class="container-fluid">
    <div class="jumbotron" >
      <h1>Nuevo Stakeholder</h1>

      <%= render 'form', stakeholder: @stakeholder %>

      <%= link_to 'Atrás', stakeholders_path %>

    </div>
  </div>
</div>
