
<div class="content-container">
  <div class="container-fluid">

    <div class="jumbotron" align="center">
      	<%= image_tag "logo-simbolo.png"%>
      	<br>
      	<div class="dashboard-text">
      		<h1 id="dashboard-header">¡Bienvenido al Gestor de Grupos del Tutor Virtual CVA!</h1>
      		<p id="dashboard-description">
      			Esta plataforma tiene el propósito de integrar los datos de preinscritos, tutores y aliados para consultar los grupos de participantes con sus respectivos tutores y aliados.
      		</p>
      	</div>
    </div>

  </div>
</div>
