.top {
	height: 40vh;
	background-color: #2979ff;
}

.bottom {
	height: 60vh;
	background-color: rgb(224, 224, 224);
}

.loginText{
	font-family: 'Muli', sans-serif;
	color: darkgray;
	padding-top: 5px;
	font-size: 1.5em;
}

.formContainer{
	background-color: red;
	width: 70%;
}