// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dashboard-text{
  width: 70%;
  height: 100%;
}

#dashboard-header{
  font-size: 2.2rem;
}

#dashboard-description{
  padding: 20px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
